{% extends 'baseplataforma.html' %}


{% block title %} Listar Reserva{% endblock %}

{% block conteudo %}


<div class="container mt-5"> 
    <h1 class="mb-4">Lista de Reservas</h1> 
    <ul class="list-group"> {% for reserva in reservas %}
       <li class="list-group-item">
         <strong>Hóspede:</strong> {{ reserva.hospede.username }}<br> 
         <strong>Check-in:</strong> {{ reserva.data_check_in }}<br> 
         <strong>Check-out:</strong> {{ reserva.data_check_out }}<br>
         <strong>Tipo de Quarto:</strong> {{ reserva.tipo_quarto.nome }}
         <div class="mt-2 d-flex justify-content-end"> 
          <a href="{% url 'editar_reserva' reserva.pk %}" class="btn btn-sm btn-warning me-2">Editar</a> 
          <a href="{% url 'deletar_reserva' reserva.pk %}" class="btn btn-sm btn-danger">Deletar</a> </div>  
           {% endfor %} </ul>
           </div>


{%  endblock %}